body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the body covers the full viewport height */
  margin: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
    flex: 1;
}

.footer {
  flex-shrink: 0; /* Prevent footer from shrinking */
  /* Footer styles */
}

.title-section {
  background-color: black;
  color: white;
  padding: 40px;
}
.title {
  font-size: 60px;
}
.logo {
  max-width: 200px; /* Adjust size as needed */
}
@media screen and (max-width: 600px) {
  .title {
    text-align: center;
  }
  .logo {
    display: block;
    margin: 0 auto;
  }
}

.jumbotron {
            background-image: url("/static/background.jpg"); /* Replace with your image */
            background-size: cover;
            color: #fff;
            min-height: 800;
            text-align: center;
            padding: 100px 0;
        }
        .stats {
            margin-top: 30px;
        }
        .stats h2 {
            margin-bottom: 20px;
        }

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.section {
    width: 30%; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

/* Media query for mobile devices */
@media (max-width: 1000px) {
    .section {
        width: 100%; /* Set width to 100% for vertical stacking */
    }
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.left-buttons {
    display: flex;
}

.right-buttons {
    display: flex;
}

/* Button styles */
a, button {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

/* Hamburger menu styles */
.hamburger {
    display: none; /* Hide by default on larger screens */
}

/* Media query for mobile view */
@media (max-width: 1000px) {
    .left-buttons, .right-buttons {
        display: none; /* Hide buttons on mobile */
    }

    .hamburger {
        display: block; /* Display hamburger menu */
    }

    /* Show buttons in dropdown when hamburger is clicked */
    .left-buttons.show, .right-buttons.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px; /* Adjust as needed based on your design */
        background-color: #444;
        z-index: 1;
    }
}
}

/* Ribbon styles */
.ribbon {
    width: 100%;
    background-color: orange;
    text-align: center;
    z-index: 2;
}

.ribbon-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Button styles */
.chart-button {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chart-button.active {
    background-color: #007bff;
    color: #fff;
}

/* Button container styles */
.chart-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Add some margin if needed */
}

.canvas-container {
    height: 60vh;
}