{% extends 'layout.html' %}

{% block body %}
<div class="container">
    {% for club in clubs %}
    <div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom w3-padding-16" style="width: 100%; height: 400px">
        <h1>{{ club['name'] }}</h1>
        <div style="position: relative; width: 100%; height: 80%">
            <canvas id="myChart{{ club['index'] }}"></canvas>
        </div>
        <script>

        var ctx{{ club['index'] }} = document.getElementById('myChart{{ club['index'] }}').getContext('2d');
        var chartData{{ club['index'] }} = {
            labels: {{ club['times'] | safe }},
            values: {{ club['distances'] | safe }},
            tooltips: {{ club['names'] | safe }}
        };

        var myChart{{ club['index'] }} = new Chart(ctx{{ club['index'] }}, {
            type: 'line',
            data: {
                labels: chartData{{ club['index'] }}.labels,
                datasets: [{
                    label: "{{ club['name'] }}",
                    data: chartData{{ club['index'] }}.values,
                    backgroundColor: 'rgba(255, 99, 132, 1)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1,
                    pointRadius: 5,
                    pointHoverRadius: 7,
                    showLine: false
                }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                x: {
                  type: 'linear',
                  display: true,
                  title: {
                      display: true,
                      text: 'Time (hours)',
                  },
                  ticks: {
                    beginAtZero: true,
                  }
                },
                y: {
                  display: true,
                  title: {
                    display: true,
                    text: 'Distance (miles)'
                  }
                }
              },
              plugins: {
                tooltip: {
                  mode: 'index',
                  intersect: false,
                  callbacks: {
                    label: function(context) {
                      var label = chartData{{ club['index'] }}.values[context.dataIndex];
                      if (label) {
                          label += '\n ';
                      }

                      // Use additionalData instead of context.parsed.y
                      label += chartData{{ club['index'] }}.tooltips[context.dataIndex];
                      return label;
                    }
                  }
                }
              }
            }
        });
        </script>
    </div>
    {% endfor %}
</div>
{% endblock %}