<!DOCTYPE html>
<html>
<head>
    <title>Strava Heatmap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Customize additional styling here */
        #map {
            height: 600px;
        }
    </style>
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button onclick="window.history.back()" class="btn btn-primary mr-2">Back</button>
        <p>Hello {{ athlete_name }}</p>
        <label for="activitySlider" class="mr-2">Activities:</label>
        <input type="range" id="activitySlider" min="1" max="100" value="50" class="form-range" onchange="updateHeatmap()">
    </div>
</nav>

<!-- Map container -->
<div class="container mt-3">
    <div id="map"></div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
<script>
    var map = L.map('map').setView([41, -112], 10);

    // Add OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var heat = null;

    // Function to update heatmap based on slider value
    function updateHeatmap() {
        var sliderValue = document.getElementById('activitySlider').value;
        $.ajax({
            type: 'GET',
            url: '/update_heatmap/' + sliderValue,
            success: function (data) {
                if (heat) {
                    map.removeLayer(heat);
                }
                heat = L.heatLayer(data.coordinates, {radius: 15}).addTo(map);
            }
        });
    }

    // Initially load heatmap
    updateHeatmap();
</script>
</body>
</html>
