<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moov Metrics</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat:400,700|Open+Sans:400,700|Lato:400,700|Playfair+Display:400,700|Raleway:400,700|Pacifico|Oswald:400,700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/cow-head.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="w3-light-grey">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

    <a href="/dashboard" class="w3-bar-item w3-button w3-padding-large"><img src="{{ url_for('static', filename='images/cow-head.ico') }}" alt="Logo" height="20px"></a>
    <a href="/friends" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Friends</a>
    <a href="/game" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Game</a>
    {% if flask_env == 'dev' %}
    <a href="https://www.moovmetrics.com" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Live Site</a>
    {% else %}
    <a href="http://stravapp-dev-99f4f17c9e2f.herokuapp.com/dashboard" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Beta Site</a>
    {% endif %}
<!--    <div class="w3-dropdown-hover w3-hide-small">-->
<!--      <button class="w3-padding-large w3-button" title="More">More <i class="fa fa-caret-down"></i></button>-->
<!--      <div class="w3-dropdown-content w3-bar-block w3-card-4">-->
<!--        <a href="#" class="w3-bar-item w3-button">Merchandise</a>-->
<!--        <a href="#" class="w3-bar-item w3-button">Extras</a>-->
<!--        <a href="#" class="w3-bar-item w3-button">Media</a>-->

<!--      </div>-->
<!--    </div>-->
      <a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Logout</a>
      <a href="/support" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Support Me</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/friends" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Friends</a>
  <a href="/game" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Game</a>
  {% if flask_env == 'dev' %}
  <a href="https://www.moovmetrics.com" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Live Site</a>
  {% else %}
  <a href="http://stravapp-dev-99f4f17c9e2f.herokuapp.com/dashboard" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Beta Site</a>
  {% endif %}
  <a href="/support" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Support Me</a>
  <a href="/logout" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Logout</a>
</div>

<!-- Upper section -->
<div class="w3-display-container w3-center title-section w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half">
      <h2 class="title" style="font-family: 'Pacifico', sans-serif;">Moov Metrics</h2>
      <p>Deeper analysis that gets you mooving</p>
    </div>
    <div class="w3-half">
      <img src="{{ cow_path }}" alt="Logo" class="logo">
    </div>
  </div>
</div>
{% block body %}
{% endblock %}
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-github w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <div>
    <img src="{{ url_for('static', filename='images/api_logo_pwrdBy_strava_horiz_light.png') }}">
  </div>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const hamburger = document.querySelector(".hamburger");
    const dropdownContent = document.querySelector(".dropdown-content");

    // Toggle dropdown on hamburger click
    hamburger.addEventListener("click", function() {
        dropdownContent.classList.toggle("show");
    });

    // Close dropdown when clicking outside of it
    window.addEventListener("click", function(event) {
        if (!event.target.matches('.hamburger')) {
            if (dropdownContent.classList.contains('show')) {
                dropdownContent.classList.remove('show');
            }
        }
    });
});

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

</script>
</body>
</html>