{% extends 'layout.html' %}

{% block body %}
<style>
        .avatar-container {
            width: 100%;
            background-color: #c19078;
            position: relative;
        }

        .background-img {
            width: 100%;
        }

        .circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(33.33%); /* 1/3 of the width */
            height: 0;
            padding-bottom: calc(33.33%); /* Maintain aspect ratio to create a circle */
            border-radius: 50%;
            overflow: hidden;
        }

        .avatar {
            width: 130%;
            height: auto;
            display: block;
        }
</style>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
    <!-- Upper section -->
    <div class="w3-display-container w3-center title-section w3-margin-bottom">
      <div class="w3-row-padding">
        <div class="w3-half">
          <h2 class="title" style="font-family: 'Pacifico', sans-serif;">Moov Metrics</h2>
          <p>Deeper analysis that gets you mooving</p>
        </div>
        <div class="w3-half">
          <img src="{{ url_for('static', filename='images/cow.png') }}" alt="Logo" class="logo">
        </div>
      </div>
    </div>

  <!-- The Grid -->
  <div class="w3-row-padding">


    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <div class="avatar-container">
              <img src="/static/topo.png" class="background-img" alt="background">

              <div class="circle">
                  <!-- Replace 'avatar.png' with the path or URL of your avatar image -->
                  <img src="{{ athlete.profile }}" class="avatar" alt="avatar">
              </div>
          </div>
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>{{ athlete.firstname }} {{ athlete.lastname }}</h2>
          </div>
        </div><br>
        <div class="w3-container">
          <p><i class="fa fa-id-card"></i> Athlete ID:    {{ athlete.id }}</p>
          <p><i class="fa fa-user">   </i> Username:      {{ athlete.username }}</p>
          {% if athlete.city != None %}
          <p><i class="fa fa-globe">  </i> Location:      {{ athlete.city }}, {{ athlete.state }}, {{ athlete.country }}</p>
          {% endif %}
          {% if athlete.friend_count != None %}
          <p><i class="fa fa-users">  </i> Friend Count:  {{ athlete.friend_count }}</p>
          {% endif %}
          {% if athlete.follower_count != None %}
          <p><i class="fa fa-users">  </i> Follower Count:{{ athlete.follower_count }}</p>
          {% endif %}
          <!-- Adjust the icon for athlete_type based on the specific type -->
<!--          <li><i class="fas fa-bicycle"></i> Athlete Type: {{ athlete.athlete_type }}</li>-->
<!--          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Designer</p>-->
<!--          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>London, UK</p>-->
<!--          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ex@mail.com</p>-->
<!--          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>-->
          <hr>

          <p class="w3-large"><b><i class="fa fa-users fa-fw w3-margin-right w3-text-teal"></i>Groups</b></p>
          {% for club in clubs %}
          <div class="w3-container">
            <h5 class="w3-opacity"><b>{{ club.name }}</b></h5>
            <p>{{ club.member_count }} Members</p>
            <hr>
          </div>
          {% endfor %}

          <p class="w3-large w3-text-theme"><b><i class="fa fa-tags fa-fw w3-margin-right w3-text-teal"></i>Gear</b></p>
          {% for gear_item in gear %}
          <div class="w3-container">
            <h5 class="w3-opacity"><b>{{ gear_item['name'] }}</b></h5>
            <p>{{ gear_item['distance'] | round(2)}}s</p>
            <hr>
          </div>
          {% endfor %}
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-trophy fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Race Efforts</h2>
        {% for best_effort in best_efforts %}
        {% if best_effort['activity_best'] != None %}
        <div class="w3-container">
          <h5 class="w3-opacity"><b>{{ best_effort['name'] | title() }} | {{ best_effort['activity_best'].name }} | {{ best_effort['activity_best'].start_date_local.strftime('%d/%m/%Y') }}</b></h5>
          <p><i class="fa fa-clock-o fa-fw w3-margin-right w3-text-teal"></i>{{ best_effort['activity_best'].moving_time }}
             <i class="fa fa-arrows-h fa-fw w3-margin-left w3-text-teal"></i>{{ units.miles(best_effort['activity_best'].distance) | round(2)}}s
             <i class="fa fa-fast-forward fa-fw w3-margin-left w3-text-teal"></i>{{ units.miles_per_hour(best_effort['activity_best'].average_speed) | round(2)}}</p>
          <hr>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-trophy fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Trends</h2>
        {% for trend in trends %}
<!--        <h2 class="w3-text-grey w3-padding-12">{{ trend['name'] }}</h2>-->
        <div class="w3-container w3-margin-bottom" style="width: 100%; height: 200px">
          {% for workout_type in trend['workout_types'] %}
          <input type="checkbox" id="{{workout_type}}-{{ trend['index']}}" class="checkbox-{{ trend['index']}}" value="{{ workout_type}}">
          <label for="{{workout_type}}-{{ trend['index']}}">{{ workout_type}}</label>
          {% endfor %}
          <canvas id="myChart{{ trend['index'] }}" width="100%" height="100%"></canvas>
        </div>
        <br>
        <hr>

        <script>
            var ctx{{ trend['index'] }} = document.getElementById('myChart{{ trend['index'] }}').getContext('2d');
            var chartData{{ trend['index'] }} = {
                labels: {{ trend['data']['labels'].tolist() | safe }},
                values: {{ trend['data']['values'].tolist() | safe }},
                tooltips: {{ trend['data']['tooltips'].tolist() | safe }},
                tags: {{ trend['data']['tags'].tolist() | safe }}
            };

            var myChart{{ trend['index'] }} = new Chart(ctx{{ trend['index'] }}, {
                type: 'line',
                data: {
                    labels: chartData{{ trend['index'] }}.labels,
                    datasets: [{
                        label: "{{ trend['name'] }}",
                        data: chartData{{ trend['index'] }}.values,
                        backgroundColor: '{{ trend['rgba'] }}',
                        borderColor: '{{ trend['rgba'] }}',
                        borderWidth: 1
                    }]
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  scales: {
                    x: {
                      display: true,
                      title: {
                          display: true,
                          text: 'Workout Number',
                      }
                    }
                  },
                  plugins: {
                    tooltip: {
                      mode: 'index',
                      intersect: false,
                      callbacks: {
                        label: function(context) {
                          var label = chartData{{ trend['index'] }}.values[context.dataIndex];
                          if (label) {
                              label += '\n ';
                          }

                          // Use additionalData instead of context.parsed.y
                          label += chartData{{ trend['index'] }}.tooltips[context.dataIndex];
                          return label;
                        }
                      }
                    }
                  }
                }
            });

            // Function to filter data based on selected tags
            function filterData{{ trend['index']}}() {
                //var filteredData = {
                //   labels: chartData{{ trend['index'] }}.labels.slice(),
                //   values: chartData{{ trend['index'] }}.values.slice(),
                //   tooltips: chartData{{ trend['index'] }}.tooltips.slice()
                //}
                var filteredData = {
                    labels: [],
                    values: [],
                    tags: [],
                    tooltips: []
                };

                var tagCheckboxes = document.querySelectorAll('.checkbox-{{ trend['index']}}');

                for (var i = 0; i < chartData{{ trend['index'] }}.tags.length; i++) {
                    var includeData = true;

                    for (var j = 0; j < tagCheckboxes.length; j++) {
                        if (!tagCheckboxes[j].checked && chartData{{ trend['index'] }}.tags[i] === tagCheckboxes[j].value) {
                            includeData = false;
                            break;
                        }
                    }

                    if (includeData) {
                        filteredData.labels.push(chartData{{ trend['index'] }}.labels[i]);
                        filteredData.values.push(chartData{{ trend['index'] }}.values[i]);
                        filteredData.tags.push(chartData{{ trend['index'] }}.tags[i]);
                        filteredData.tooltips.push(chartData{{ trend['index'] }}.tooltips[i]);
                    }
                }

                // Check each checkbox status and filter data accordingly
                //document.querySelectorAll('.tagCheckbox').forEach(function(checkbox) {
                //    if (!checkbox.checked) {
                //        var tag = checkbox.value;
                //        filteredData = filteredData.filter(function(item) {
                //            // Your logic to filter data based on tags
                //            return item.tags.includes(tag); // Adjust this according to your data structure
                //        });
                //    }
                //});

                // Update the chart with filtered data
                updateChart{{ trend['index']}}(filteredData);
            }

            // Function to update the chart with new data
            function updateChart{{ trend['index']}}(newData) {
                // Update chart's dataset with the filtered data
                myChart{{ trend['index'] }}.labels = newData.labels
                myChart{{ trend['index'] }}.data.datasets[0].data = newData.values;

                // Update chart
                myChart{{ trend['index'] }}.update();
            }

            // Attach event listeners to checkboxes
            document.querySelectorAll('.checkbox-{{ trend['index']}}').forEach(function(checkbox) {
                checkbox.addEventListener('change', filterData{{ trend['index']}});
            });
        </script>
    {% endfor %}
      </div>

      <div class="w3-container w3-card w3-white">
        <h2>Activity Map</h2>
        <iframe id="heatmapFrame" src="/static/{{ state }}/heatmap.html" width="100%" height="800px">Loading...</iframe>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
{% endblock %}