{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1>Welcome to Fitness-pizza-in-my-mouth</h1>
    {% if flask_env == 'dev' %}
    <p style="color: red;">You are viewing the test website, <a href="http://stravapp-prod-f3bda259aecb.herokuapp.com/dashboard">Click here</a> for the real one</p>
    {% endif %}
    <p class="lead">Track your progress and performance.</p>
    {% if athlete %}
        <div class="section-container">
            <div class="section">
                <h2>Running</h2>
                <p><strong>Total Activities:</strong> {{ stats['run']['count'] }}</p>
                <p><strong>Total Distance:</strong> {{ stats['run']['distance'] | round(2) }}s</p>
            </div>
            <div class="section">
                <h2>Biking</h2>
                <p><strong>Total Activities:</strong> {{ stats['bike']['count'] }}</p>
                <p><strong>Total Distance:</strong> {{ stats['bike']['distance'] | round(2) }}s</p>
            </div>
            <div class="section">
                <h2>Hiking</h2>
                <p><strong>Total Activities:</strong> {{ stats['hike']['count'] }}</p>
                <p><strong>Total Distance:</strong> {{ stats['hike']['distance'] | round(2)}} miles</p>
            </div>
        </div>
    {% endif %}
</div>

<div style="padding: 5%">
    <h2>Activity Map</h2>
    <iframe id="heatmapFrame" src="/static/{{ state }}/heatmap.html" width="100%" height="800px">Loading...</iframe>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
    const hamburger = document.querySelector(".hamburger");
    const dropdownContent = document.querySelector(".dropdown-content");

    // Toggle dropdown on hamburger click
    hamburger.addEventListener("click", function() {
        dropdownContent.classList.toggle("show");
    });

    // Close dropdown when clicking outside of it
    window.addEventListener("click", function(event) {
        if (!event.target.matches('.hamburger')) {
            if (dropdownContent.classList.contains('show')) {
                dropdownContent.classList.remove('show');
            }
        }
    });
});

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

</script>
{% endblock %}