{% extends 'layout.html' %}

{% block body %}
<style>
  .profile-button {
    display: none;
  }
@media (max-width: 600px) {
      .profile-section {
        display: none;
      }
      .profile-button {
        display: block;
      }
      }

  .background-img {
      width: 100%;
  }

  .avatar-container {
        width: 100%;
        background-color: #c19078;
        position: relative;
    }

    .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 33.33%; /* 1/3 of the width */
        height: 0;
        padding-bottom: 33.33%; /* Maintain aspect ratio to create a circle */
        border-radius: 50%;
        overflow: hidden;
    }

    .circle img.avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
    }
    
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .image-container {
      display: flex;
      flex-wrap: wrap;
      gap: 0; /* No gap between images */
      margin: 0; /* No margin for the container */
      padding: 0; /* No padding for the container */
  }

  .image-wrapper {
      width: 25%; /* Each wrapper takes up 25% of the container's width */
      padding-top: 25%; /* Maintain square aspect ratio */
      position: relative;
      border: 0; /* Remove any border from the wrapper */
      margin: 0; /* Remove any margin from the wrapper */
      overflow: hidden; /* Ensure no overflow from the wrapper */
  }

  .image-wrapper a {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-decoration: none; /* Remove default underline from links */
      border: 0; /* Remove any border from the anchor tag */
      padding: 0; /* Remove any padding from the anchor tag */
  }

  .image-wrapper img {
      width: 100%; /* Fill the width of the wrapper */
      height: 100%; /* Fill the height of the wrapper */
      object-fit: cover; /* Ensure the image covers the area without distortion */
      border: 0; /* Remove any border from the image */
      display: block; /* Remove any space below the image (for inline images) */
  }



</style>
<!-- Page Container -->
<div class="w3-margin-top" >
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Right Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <div class="avatar-container">
              <img src="/static/images/topo.png" class="background-img" alt="background">

              <div class="circle">
                  <img src="{{ athlete.profile }}" class="avatar" alt="avatar">
              </div>
          </div>
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>{{ athlete.firstname }} {{ athlete.lastname }}</h2>
          </div>
        </div>
        <div class="image-container" id="image-container">
          <div class="loading-spinner" id="spinner-image"></div>
        </div>
        <br>
        <div class="w3-container profile-button">
          <div class="w3-container chart-buttons" style="justify-content: center;">
            <a href="/profile_page" class="profile-button chart-button">Personal Stats</a>
            <a href="/activities_page" class="profile-button chart-button">Activities</a>
            <a href="/best_efforts_page" class="profile-button chart-button">Best Efforts</a>
            <a href="/gear_page" class="profile-button chart-button">Gear Stats</a>
          </div>
          
          <br>
        </div>
        <div class="w3-container profile-section">

          <!-- Stats section-->
          <p class="w3-large w3-text-theme"><b><i class="fa fa-bar-chart fa-fw w3-margin-right w3-text-teal"></i>Stats</b></p>
          <div id="sports-container">
            <div class="loading-spinner" id="spinner-sports"></div>
          </div>
          <br>

          <!-- Gear Section -->
          <div style="margin-bottom: 20px;">
            <p class="w3-large w3-text-theme"><b><i class="fa fa-tags fa-fw w3-margin-right w3-text-teal"></i>Gear</b></p>
            <div id="gear-container">
              <div class="loading-spinner" id="spinner-gear"></div>
            </div>
          </div>

          <!-- Groups Section-->
          <p class="w3-large"><b><i class="fa fa-users fa-fw w3-margin-right w3-text-teal"></i>Groups</b></p>
          <div id="clubs-container">
            <div class="loading-spinner" id="spinner-clubs"></div>
          </div>
          <br>
        </div>
      </div>
      <br>

    </div>

    <!-- Left Column -->
    <div class="w3-twothird">

      <!-- Trends Chart -->
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-line-chart fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Trends</h2>
        <div class="chart-buttons-container">
          <div class="chart-buttons types">
            <button class="chart-button type active" id="all" onclick="updateType('all')">All</button>
            {% for activity_type in activity_types %}
            <button class="chart-button type" id="{{activity_type}}" onclick="updateType('{{activity_type}}')">{{activity_type | title }}</button>
            {% endfor %}
            <div id="activityTypeButtons">
              <!-- Buttons will be dynamically inserted here -->
            </div>

          </div>
        </div>
        <div class="chart-buttons-container">
          <div class="chart-buttons windows">
            <button class="chart-button window active" id="w" onclick="updateWindow('w')">W</button>
            <button class="chart-button window" id="m" onclick="updateWindow('m')">M</button>
            <button class="chart-button window" id="6m" onclick="updateWindow('6m')">6M</button>
            <button class="chart-button window" id="y" onclick="updateWindow('y')">Y</button>
            <!-- Add more buttons for different time windows -->
          </div>
        </div>

        <div class="canvas-container">
          <div class="loading-spinner" id="spinner-1"></div>
          <canvas id="canvas" style="height: 100%">Loading...</canvas>
        </div>
        <div class="chart-buttons-container">
          <div class="chart-buttons datasets">
            <button class="chart-button dataset active" id="hr" onclick="updateDataset('hr')">Heart Rate</button>
            <button class="chart-button dataset" id="avg_speed" onclick="updateDataset('avg_speed')">Speed</button>
            <button class="chart-button dataset" id="kudos" onclick="updateDataset('kudos')">Kudos</button>
            <button class="chart-button dataset" id="vo2_max" onclick="updateDataset('vo2_max')">VO2 Max</button>
            <button class="chart-button dataset" id="pr_count" onclick="updateDataset('pr_count')">PRs</button>
            <button class="chart-button dataset" id="distance" onclick="updateDataset('distance')">Distance</button>
            <!-- Add more buttons for different time windows -->
          </div>
        </div>
      </div>

      <!-- <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2>Activity Map</h2>
        <p>See a heatmap of all your activities. Use the filter tool to select specific activities</p>
        <iframe id="heatmapFrame" src="" width="100%" height="800px">Loading...</iframe>
      </div> -->
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2>Activity Map</h2>
        <p>See a heatmap of all your activities. Use the filter tool to select specific activities</p>
        <iframe id="heatmapFrame" src="" width="100%" height="800px">Loading...</iframe>
    </div>
    </div>
    
  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<script>
          let myChart;
          let effortChart;
          let activityData;
          let effortData;
          let effortFilter = "record";
          let timeWindow = "w";
          let dataset = "hr";
          let race = "5k";
          let activityTypes = ["all"];
          const datasetTitles = {
            "hr": "Average Heart Rate (bpm)",
            "avg_speed": "Average Speed (mph)",
            "kudos": "Kudos",
            "vo2_max": "VO2 Max *estimate",
            "pr_count": "PRs Per Activity",
            "distance": "Activity Distance (miles)"
          }
          var today = new Date();
          var minDate = new Date(today);
          minDate.setDate(today.getDate() - 7);

          function getData() {
            // AJAX call to Flask endpoint
            fetch('/get_data', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({"activity_types": activityTypes})
            })
            .then(response => {
              // Log the response content to inspect it
              console.log("Response content:", response);

              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              activityData = JSON.parse(data.data);
              updateChart();
              hide_spinner("spinner-1");
            })
            .catch(error => {
              console.error('There was an error with the request:', error);
            });
          }

          function getEffortData() {
            // AJAX call to Flask endpoint
            fetch('/get_effort_data', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({"race": race, "effort_filter": effortFilter})
            })
            .then(response => {
              // Log the response content to inspect it
              console.log("Response content:", response);

              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              effortData = JSON.parse(data.data);
              bestEffortsData = JSON.parse(data.best_efforts);
              updateEffortChart();
              hide_spinner("spinner-2");
              renderRaceEfforts(bestEffortsData);
              hide_spinner("spinner-3");
            })
            .catch(error => {
              console.error('There was an error with the request:', error);
            });
          }

          // Function to render race efforts in the HTML
          function renderRaceEfforts(raceEfforts) {
            const container = document.getElementById('race-efforts-container');
            while (container.firstChild) {
              container.removeChild(container.firstChild);
            }
            
            raceEfforts.forEach(effort => {
              if (effort.frmt_time !== null) {
                const raceEffortDiv = document.createElement('div');
                raceEffortDiv.classList.add('w3-container');

                raceEffortDiv.innerHTML = `
                  <h5 class="w3-opacity"><b>${effort.name} | ${effort.activity_name} | ${new Date(effort.start_date_local).toLocaleDateString()}</b></h5>
                  <p><i class="fa fa-clock-o fa-fw w3-margin-right w3-text-teal"></i>${effort.frmt_time}
                  <i class="fa fa-arrows-h fa-fw w3-margin-left w3-text-teal"></i>${effort.distance}
                  <i class="fa fa-fast-forward fa-fw w3-margin-left w3-text-teal"></i>${effort.frmt_speed} /mi
                  </p>
                  <hr class="small-margin">
                `;
                
                container.appendChild(raceEffortDiv);
              }
            });
          }
          
          // Function to update chart based on selected time window
          function updateChart() {
            let title;
            let units;

            title = activityData[timeWindow]["title"];
            units = activityData["units"][dataset];
            labels = activityData[timeWindow]["dates"];
            values = activityData[timeWindow]["values"][dataset];

            if (myChart){
              var chartConfig = myChart.config;
              chartConfig.data.labels = labels;
              chartConfig.data.datasets[0].data = values;
              chartConfig.data.datasets[0].label = datasetTitles[dataset];
              chartConfig.options.plugins.title.text = title;
              myChart.update();
            } else {
              const chartData = {
                labels: labels,
                datasets: [
                  {
                    label: datasetTitles[dataset],
                    data: values.map(value => (value !== null ? value : NaN)), // Data received from Flask endpoint for Dataset 1
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1,
                    hidden: false
                  }
                ]
              };

              const ctx = document.getElementById('canvas').getContext('2d');
              myChart = new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: {
                  spanGaps: true,
                  maintainAspectRatio: false,
                  plugins: {
                    title: {
                      display: true,
                      text: title,
                    }
                  }
                }
              });
            }
          }

          function updateEffortChart() {
            labels = effortData[race]["labels"];
            values = effortData[race]["values"];
            tips = effortData[race]["tips"];

            if (effortChart){
              var chartConfig = effortChart.config;
              chartConfig.data.labels = labels;
              chartConfig.data.datasets[0].data = values;
              chartConfig.data.datasets[0].label = race;
              chartConfig.options.plugins.title.text = race;
              effortChart.update();
            } else {
              const chartData = {
                labels: labels,
                datasets: [
                  {
                    label: race,
                    data: values.map(value => (value !== null ? value : NaN)), // Data received from Flask endpoint for Dataset 1
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1,
                    hidden: false
                  }
                ]
              };

              const ctx2 = document.getElementById('canvas2').getContext('2d');
              effortChart = new Chart(ctx2, {
                type: 'line',
                data: chartData,
                options: {
                  spanGaps: true,
                  maintainAspectRatio: false,
                  plugins: {
                    title: {
                      display: true,
                      text: race,
                    },
                    legend: {
                      display: false
                    },
                    tooltip: {
                      callbacks: {
                        label: function(context) {
                          var seconds = context.raw;
                          var hours = Math.floor(seconds / 3600);
                          var minutes = Math.floor((seconds % 3600) / 60);
                          var seconds_remain = seconds % 60;
                          var formattedTime = '';
                          if (hours > 0) {
                              formattedTime += hours + ':';
                          }
                          formattedTime += (minutes < 10 ? '0' + minutes : minutes) + ':' + (seconds_remain < 10 ? '0' + seconds_remain : seconds_remain);
                          var dataIndex = context.dataIndex;
                          var pace = tips[dataIndex];
                          return " " + formattedTime + ",\n " + pace + " /mi";
                        }
                      }
                    }
                  },
                  scales: {
                    y: {
                      type: 'linear',
                      ticks: {
                        stepSize: 900,
                        callback: function(value, index, values) {
                          // Convert seconds to HH:mm format
                          var hours = Math.floor(value / 3600);
                          var minutes = Math.floor((value % 3600) / 60);
                          
                          var formattedTime = '';
                          if (hours > 0) {
                              formattedTime += hours + ':';
                          }
                          
                          formattedTime += (minutes < 10 ? '0' : '') + minutes;
                          
                          return formattedTime;
                        }
                      }
                    },
                  }
                }
              });
            }
          }

          function hide_spinner(spinner_id){
            document.getElementById(spinner_id).style.display = "none";
          }

          function updateWindow(newTimeWindow) {
            timeWindow = newTimeWindow;
            document.querySelectorAll('.window').forEach(btn => btn.classList.remove('active'));
            document.getElementById(timeWindow).classList.add('active');
            updateChart();
          }

          function updateEffortFilter(newEffortFilter) {
            effortFilter = newEffortFilter;
            document.querySelectorAll('.effort-filter').forEach(btn => btn.classList.remove('active'));
            document.getElementById("filter-" + effortFilter).classList.add('active');
            getEffortData();
            updateEffortChart();
          }

          function updateRace(name) {
            race = name;
            document.querySelectorAll('.race').forEach(btn => btn.classList.remove('active'));
            document.getElementById(race).classList.add('active');
            getEffortData();
            updateEffortChart();
          }

          function updateType(newActivityType) {
            if (newActivityType == "all"){
              document.querySelectorAll('.type').forEach(btn => btn.classList.remove('active'));
              activityTypes = ["all"];
            } else {
              document.getElementById("all").classList.remove('active');
              let index = activityTypes.indexOf("all");
              if (activityTypes.includes("all")) {
                activityTypes.splice(index, 1);
              }
            }
            
            if (document.getElementById(newActivityType).classList.contains("active")) {
              document.getElementById(newActivityType).classList.remove('active');
              let index = activityTypes.indexOf(newActivityType);
              if (activityTypes.includes(newActivityType)) {
                activityTypes.splice(index, 1);
              }
            } else {
              document.getElementById(newActivityType).classList.add('active');
              if (!activityTypes.includes(newActivityType)) {
                activityTypes.push(newActivityType);
              }
            }
            
            if (activityTypes.length == 0) {
              activityTypes = ["all"];
              document.getElementById("all").classList.add('active');
            }
            
            getData();
            updateChart();
          }

          function updateDataset(newDataset) {
            dataset = newDataset;
            document.querySelectorAll('.dataset').forEach(btn => btn.classList.remove('active'));
            document.getElementById(dataset).classList.add('active');
            updateChart();
          }

          // Function to toggle dataset visibility
          function toggleDataset(index) {
              myChart.data.datasets.forEach((dataset, i) => {
                  dataset.hidden = (i !== index) ? true : false;
              });
              myChart.update();
          }

          async function loadImageData() {
            try {
              const response = await fetch('/get_image_data');  // Replace '/your-route' with the actual route URL
              const data = await response.json();

              // Get the container where the images will be appended
              const imageContainer = document.getElementById('image-container');
              // Loop through the images and create the HTML elements
              data.urls.forEach(image => {
                    const wrapper = document.createElement('div');
                    wrapper.className = 'image-wrapper';

                    const link = document.createElement('a');
                    link.href = `/metrics/${image.id}`; // Assuming each image has an 'id' field

                    const img = document.createElement('img');
                    img.src = image.url;
                    img.alt = 'Image'; // You can customize the alt text

                    // Append the elements to the container
                    link.appendChild(img);
                    wrapper.appendChild(link);
                    imageContainer.appendChild(wrapper);
                });
                hide_spinner("spinner-image");
            } catch (error) {
                console.error('Error getting image info:', error);
            }
            
          }
          
          async function loadProfileData() {
            try {
                // Fetch the JSON data from the route
                const response = await fetch('/get_profile_data');  // Replace '/your-route' with the actual route URL
                const data = await response.json();

                const sportsContainer = document.getElementById('sports-container');
                const gearContainer = document.getElementById('gear-container');
                const clubsContainer = document.getElementById('clubs-container');

                // Loop through the stats and create the HTML elements
                Object.keys(data.stats).forEach(sport => {
                    const sportData = data.stats[sport];

                    const wrapper = document.createElement('div');
                    wrapper.className = 'w3-container list-items';

                    const header = document.createElement('h5');
                    header.className = 'w3-opacity';
                    header.style.marginBottom = '5px';
                    header.style.marginTop = '0px';
                    header.innerHTML = `<b>${sport.charAt(0).toUpperCase() + sport.slice(1)}</b>`;
                    wrapper.appendChild(header);

                    const flexContainer = document.createElement('div');
                    flexContainer.style.display = 'flex';
                    flexContainer.style.justifyContent = 'space-between';

                    const activities = document.createElement('p');
                    activities.className = 'small-margin';
                    activities.textContent = `${sportData.count} activities`;
                    flexContainer.appendChild(activities);

                    const distance = document.createElement('p');
                    distance.className = 'small-margin';
                    distance.style.textAlign = 'right';
                    distance.textContent = `${sportData.distance.toFixed(0)} miles`;
                    flexContainer.appendChild(distance);

                    wrapper.appendChild(flexContainer);

                    const hr = document.createElement('hr');
                    hr.className = 'small-margin';
                    wrapper.appendChild(hr);

                    sportsContainer.appendChild(wrapper);
                });
                hide_spinner("spinner-sports");

                // Loop through the gear items and create the HTML elements
                data.gear.forEach(gearItem => {
                    const wrapper = document.createElement('div');
                    wrapper.className = 'w3-container';

                    const flexContainer = document.createElement('div');
                    flexContainer.style.display = 'flex';
                    flexContainer.style.justifyContent = 'space-between';

                    const name = document.createElement('h5');
                    name.className = 'w3-opacity';
                    name.innerHTML = `<b>${gearItem.name}</b>`;
                    flexContainer.appendChild(name);

                    const distance = document.createElement('p');
                    distance.style.textAlign = 'right';
                    distance.style.paddingTop = '8px';
                    distance.textContent = `${gearItem.distance} miles`;
                    flexContainer.appendChild(distance);

                    wrapper.appendChild(flexContainer);

                    const hr = document.createElement('hr');
                    hr.className = 'small-margin';
                    wrapper.appendChild(hr);

                    gearContainer.appendChild(wrapper);
                });
                hide_spinner("spinner-gear");

                // Loop through the clubs and create the HTML elements
                data.clubs.forEach(club => {
                    const wrapper = document.createElement('div');
                    wrapper.className = 'w3-container';

                    const flexContainer = document.createElement('div');
                    flexContainer.style.display = 'flex';
                    flexContainer.style.justifyContent = 'space-between';

                    const name = document.createElement('h5');
                    name.className = 'w3-opacity';
                    name.innerHTML = `<b>${club.name}</b>`;
                    flexContainer.appendChild(name);

                    const memberCount = document.createElement('p');
                    memberCount.style.textAlign = 'right';
                    memberCount.style.paddingTop = '8px';
                    memberCount.textContent = `${club.member_count} Members`;
                    flexContainer.appendChild(memberCount);

                    wrapper.appendChild(flexContainer);

                    const hr = document.createElement('hr');
                    hr.className = 'small-margin';
                    wrapper.appendChild(hr);

                    clubsContainer.appendChild(wrapper);
                });
                hide_spinner("spinner-clubs");
            } catch (error) {
                console.error('Error getting profile info:', error);
            }
        }

        async function loadHeatmap() {
            try {
                // Fetch the JSON data from the route
                const response = await fetch('/get_heatmap'); // Replace with the actual route URL
                const data = await response.json();

                // Update the iframe's src attribute with the heatmap path
                const heatmapFrame = document.getElementById('heatmapFrame');
                heatmapFrame.src = data.heatmap_path;
            } catch (error) {
                console.error('Error loading heatmap:', error);
            }
        }

        async function loadActivityTypes() {
            try {
                // Fetch the JSON data from the route
                const response = await fetch('/get_activity_types'); // Replace with the actual route URL
                const data = await response.json();

                // Get the container element where buttons will be added
                const buttonContainer = document.getElementById('activityTypeButtons');

                // Clear any existing buttons (optional, based on your needs)
                buttonContainer.innerHTML = '';

                // Loop through the activity types and create buttons
                data.activity_types.forEach(activity_type => {
                    const button = document.createElement('button');
                    button.className = 'chart-button type';
                    button.id = activity_type;
                    button.innerText = activity_type.charAt(0).toUpperCase() + activity_type.slice(1); // Capitalize first letter
                    button.onclick = () => updateType(activity_type); // Attach the onclick event

                    // Append the button to the container
                    buttonContainer.appendChild(button);
                });
            } catch (error) {
                console.error('Error loading activity types:', error);
            }
        }
        
        loadImageData();
        loadActivityTypes();
        loadProfileData();
        loadHeatmap();
        // Initial chart display
        getData();
        // getEffortData();
        </script>
{% endblock %}