{% extends 'layout.html' %}

{% block body %}
<!-- The Grid -->
  <div class="w3-row-padding">
<!--     Left Column -->
    <div class="w3-third">
      <div class="w3-container w3-card w3-white">
          <div class="w3-container">
            <h2>{{ activity.name }}</h2>
            <br>
            <!-- <div class="chart-buttons-container">
              <div class="chart-buttons">
                
                {% for image in images %}
                <img src="{{ image['url'] }}" alt="Image 1">
                {% endfor %}
              </div>
            </div> -->
            <div class="w3-container">
              <img src="{{image_url}}" style="width: 100%;" alt="Activity Image">
            </div>
            <br>
            <p class="w3-large w3-text-theme"><b><i class="fa fa-bar-chart fa-fw w3-margin-right w3-text-teal"></i>Activity Stats</b></p>
              {% for stat in stats %}
              <div class="w3-container">
                <div style="display: flex; justify-content: space-between;">
                  <h5 class="w3-opacity"><b>{{ stat["name"] }}</b></h5>
                  <p style="text-align: right; padding-top: 8px;">{{ stat["value"] }} {{ stat["units"] }}</p>
                </div>
                <hr class="small-margin">
              </div>
              {% endfor %}
          </div>
          <br>
          {% if best_efforts %}
          <div class="w3-container">
              <p class="w3-large w3-text-theme"><b><i class="fa fa-trophy fa-fw w3-margin-right w3-text-teal"></i>Best Efforts</b></p>
              {% for best_effort in best_efforts %}
              <div class="w3-container">
                <div style="display: flex; justify-content: space-between;">
                  <h5 class="w3-opacity"><b>{{ best_effort.distance }}</b></h5>
                  <p style="text-align: right; padding-top: 8px;">{{ best_effort.time }} - {{ best_effort.pace }} /mi</p>
                </div>
                <hr class="small-margin">
              </div>
              {% endfor %}
          </div>
          {% endif %}
          <br>
          {% if gear_item %}
          <div class="w3-container">
            <p class="w3-large w3-text-theme"><b><i class="fa fa-tags fa-fw w3-margin-right w3-text-teal"></i>Gear</b></p>
            <div class="w3-container">
              <div style="display: flex; justify-content: space-between;">
                <h5 class="w3-opacity"><b>{{ gear_item['name'] }}</b></h5>
                <p style="text-align: right; padding-top: 8px;">{{ gear_item['distance'] | round(2)}} miles</p>
              </div>
              <hr class="small-margin">
            </div>
          </div>
          {% endif %}
      </div>
      <br>
    </div>
    <div class="w3-twothird">
        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2>Charts</h2>  
            <div class="w3-half">
                {% if not (hr_data is not defined or hr_data|length == 2) %}
                <div class="w3-container" style="height: 150px; margin-top: 0px; margin-bottom: 0px">
                    <canvas id="hr" style="height: 100%"></canvas>
                </div>
                {% endif %}
                {% if not (pace_data is not defined or pace_data|length == 2) %}
                <div class="w3-container" style="height: 150px; margin-top: 0px; margin-bottom: 0px">
                    <canvas id="pace" style="height: 100%"></canvas>
                </div>
                {% endif %}
                {% if not (elevation_data is not defined or elevation_data|length == 2) %}
                <div class="w3-container" style="height: 150px; margin-top: 0px; margin-bottom: 0px">
                    <canvas id="elevation" style="height: 100%"></canvas>
                </div>
                {% endif %}
            </div>
            {% if not (splits_data is not defined or splits_data|length == 2) %}
            <div class="w3-half">
                <div class="w3-container" style="height: 450px;">
                  <canvas id="splits" style="height: 100%"></canvas>
                </div>
            </div>
            {% endif %}
        </div>
        {% if heatmap_path %}
        <div class="w3-container w3-card w3-white">
          <h2>Activity Map</h2>
          <iframe id="heatmapFrame" src="{{ heatmap_path }}" width="100%" height="400px">Loading...</iframe>
        </div>
        {% endif %}
    </div>
  </div>
<script>
  Chart.register(ChartDataLabels);
  const hrData = {{ hr_data | safe }}
  const paceData = {{ pace_data | safe }}
  const splitData = {{ splits_data | safe }}
  const elevationData = {{ elevation_data | safe }}
  const maxHeartRate = 200;
  const zones = [
        { color: 'blue', max: maxHeartRate * 0.2 },
        { color: 'green', max: maxHeartRate * 0.4 },
        { color: 'yellow', max: maxHeartRate * 0.6 },
        { color: 'orange', max: maxHeartRate * 0.8 },
        { color: 'red', max: maxHeartRate }
    ];
 console.log(splitData.tips);

 function isEmpty(obj) {
  return Object.keys(obj).length === 0;
}

// Function to convert milliseconds to "HH:mm" format
function formatTime(seconds) {
  if (seconds === null || seconds === undefined) {
    return null;
  }

  const days = Math.floor(seconds / (24 * 3600));
  const hours = Math.floor((seconds % (24 * 3600)) / 3600);
  const minutes = Math.floor((seconds % 3600) / 60);
  const remainingSeconds = Math.floor(seconds % 60);

  let timeString = "";

  if (days > 0) {
    timeString += `${days}d `;
  }
  if (hours > 0) {
    timeString += `${hours}h `;
  }
  if (minutes > 0) {
    timeString += `${minutes}m `;
  }
  if (remainingSeconds > 0 || timeString === "") {
    timeString += `${remainingSeconds}s`;
  }

  return timeString.trim();
}

function lineChart(canvasId, data, borderColor, backgroundColor, xLabel, yLabel, title, chartTitle) {
      // Calculate x-axis labels at 15-minute intervals
      const xLabels = [];
      const startTime = data.time[0]; // Assuming time array is sorted
      const endTime = data.time[data.time.length - 1];
      let currentTime = startTime;

      while (currentTime <= endTime) {
        xLabels.push(currentTime);
        currentTime += 15 * 60; // Add 15 minutes
      }
      const maxXValue = Math.max(...data.time);
      var ctx = document.getElementById(canvasId).getContext('2d');
      var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: xLabels,
            datasets: [{
                label: title,
                data: data.time.map((time, index) => ({ x: time, y: data.values[index] })),
                backgroundColor: backgroundColor,
                borderColor: borderColor,
                tension: 0.1,
                radius: 0,
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: xLabel
                    },
                    type: 'linear',
                    max: maxXValue,
                    ticks: {
                      stepSize: 900,
                      suggestedMin: 0,
                      callback: function (value, index, values) {
                        return formatTime(value); // Format ticks using the custom function
                      }
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: yLabel
                    },
                    ticks: {
                        callback: function (value) {
                            // Calculate the length of the label
                            const labelLength = value.toString().length;
                            const spaces = (n) => " ".repeat(n);
                            let padding = (4 - labelLength) * 2;
                            if (padding < 0){
                              padding = 0;
                            }
                            value = spaces(padding) + value;
                            return value;
                        }
                    }
                }
            },
            plugins: {
              datalabels: false,
              legend: {
                display: false
              },
              title: {
                display: false,
                text: chartTitle
              },
              // Use the afterLayout event to dynamically set the max value for the x-axis
              afterLayout: function (chart) {
                const xAxis = chart.scales['x'];
                const maxXValue = Math.max(...data.time);
                xAxis.options.max = maxXValue;
                chart.update();
              }
            },
            layout: {
                padding: {
                    right: 20,
                    left: 20
                }
            }
        }
    });
}

if (!isEmpty(hrData)){
  lineChart("hr", hrData, 'rgba(255, 99, 132)', 'rgba(255, 99, 132, 0.2)', '', 'Heart Rate (BPM)', 'Heart Rate', 'Charts');
}
if (!isEmpty(paceData)){
  lineChart("pace", paceData, 'rgba(255, 159, 64)', 'rgba(255, 159, 64, 0.2)', '', 'Pace (MPH)', 'Pace', '');
}
if (!isEmpty(elevationData)){
  lineChart("elevation", elevationData, 'rgba(153, 102, 255)', 'rgba(153, 102, 255, 0.2)', 'Time', 'Elevation (ft)', 'Elevation', '');
}

if (!isEmpty(splitData)){
  const ctx2 = document.getElementById('splits').getContext('2d');
  const splitChart = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: splitData.miles,
        datasets: [{
            label: 'Splits',
            data: splitData.speed,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgb(75, 192, 192)',
            borderWidth: 1
        }]
    },
    options: {
        indexAxis: 'y',
        // animation: {
        //     duration: 0,
        //     onComplete: function() {
        //         ctx = this.ctx;
        //         ctx.font = Chart.helpers.fontString(Chart.defaults.font.size, Chart.defaults.font.style, Chart.defaults.font.family);
        //         ctx.textAlign = 'right';
        //         ctx.textBaseline = 'center';
        //         chartinst = this;
        //         this.data.datasets.forEach(function(dataset, i) {
        //             if(chartinst.isDatasetVisible(i)){
        //                 var meta = chartinst.getDatasetMeta(i);
        //                 meta.data.forEach(function(bar, index) {
        //                     var data = splitData.tips[index];
        //                     ctx.fillText(data, bar.x - 5, bar.y);
        //                 });
        //             }
        //         });
        //     }
        // },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          x: {
            title: {
                display: true,
                text: 'Pace (mph)'
            }
          },
          y: {
            title: {
              display: true,
              text: 'Mile'
            },
          }
        },
        // layout: {
        //     padding: {
        //         right: 20,
        //         left: 20
        //     }
        // },
        plugins: {
          datalabels: {
            align: 'right',
            anchor: 'start',
            formatter: function(value, context) {
              return splitData.tips[context.dataIndex];
            }
          },
          legend: {
            display: false
          },
          title: {
            display: true,
            text: "Split Times"
          }
        },

    }
});
}
</script>
{% endblock %}